SS - Repair Dye Component Links.json
{
  "name": "SS - Repair Dye Component Links",
  "nodes": [
    {
      "parameters": {},
      "id": "a2222222-2222-4222-8222-222222222401",
      "name": "When clicking Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1120, 704]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-dryrun",
              "name": "DRY_RUN",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222402",
      "name": "Config - Repair Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-896, 704],
      "notes": "DRY_RUN = true: reports what it would fix, writes nothing.\nDRY_RUN = false: writes the repaired Dye references."
    },
    {
      "parameters": {
        "url": "https://docs.getgrist.com/api/docs/pmzM656ewkBm/tables/Recipe_Dye_Components/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [] },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222403",
      "name": "Get All Components",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-672, 704],
      "credentials": {
        "httpHeaderAuth": { "id": "acSr72M0SPl2h9o1", "name": "Grist API" }
      }
    },
    {
      "parameters": {
        "url": "https://docs.getgrist.com/api/docs/pmzM656ewkBm/tables/Dyes/records",
        "sendHeaders": true,
        "headerParameters": { "parameters": [] },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222404",
      "name": "Get All Dyes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 704],
      "credentials": {
        "httpHeaderAuth": { "id": "acSr72M0SPl2h9o1", "name": "Grist API" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const dryRun = $('Config - Repair Settings').first().json.DRY_RUN;\n\nconst comps = ($('Get All Components').first().json.records) || [];\nconst dyes = ($json.records) || [];\n\nfunction norm(s) {\n  return (s || '').toString().trim().toUpperCase().replace(/[^A-Z0-9]/g, '');\n}\n\nconst validDyeIds = new Set(dyes.map(d => d.id));\nconst dyeIdByName = {};\ndyes.forEach(d => {\n  const n = norm(d.fields.Dye_Name);\n  if (n) dyeIdByName[n] = d.id;\n});\n\nfunction stripBrandSuffix(s) {\n  // e.g. \"Buttercup (CC)\" -> \"Buttercup\"\n  return (s || '').toString().replace(/\\s*\\([^)]*\\)\\s*$/, '').trim();\n}\n\nconst fixes = [];\nconst unfixable = [];\n\ncomps.forEach(c => {\n  const val = c.fields.Dye_Name;\n  // Already a valid reference (or intentionally empty) — leave alone.\n  if (typeof val === 'number' && (val === 0 || validDyeIds.has(val))) return;\n\n  // Try to recover a name from whatever text is available.\n  const candidates = [];\n  if (typeof val === 'string' && val.trim()) candidates.push(val);\n  if (c.fields.Dye_Full) candidates.push(c.fields.Dye_Full);\n\n  let matchedId = null;\n  let matchedFrom = null;\n  for (const cand of candidates) {\n    const direct = dyeIdByName[norm(cand)];\n    if (direct) { matchedId = direct; matchedFrom = cand; break; }\n    const stripped = dyeIdByName[norm(stripBrandSuffix(cand))];\n    if (stripped) { matchedId = stripped; matchedFrom = cand; break; }\n  }\n\n  if (matchedId) {\n    fixes.push({ compId: c.id, recipe: c.fields.Recipe, matchedFrom, newDyeId: matchedId });\n  } else {\n    unfixable.push({ compId: c.id, recipe: c.fields.Recipe, rawValue: String(val).slice(0, 40), dyeFull: c.fields.Dye_Full || '' });\n  }\n});\n\nconst updateRecords = fixes.map(f => ({ id: f.compId, fields: { Dye_Name: f.newDyeId } }));\n\nreturn [{\n  json: {\n    dryRun,\n    totalComponents: comps.length,\n    brokenFound: fixes.length + unfixable.length,\n    fixable: fixes.length,\n    unfixableCount: unfixable.length,\n    unfixable,\n    fixes,\n    updateRecords,\n  }\n}];"
      },
      "id": "a2222222-2222-4222-8222-222222222405",
      "name": "Match & Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-224, 704]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-notdryrun",
              "leftValue": "={{ $json.dryRun }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222406",
      "name": "IF - Not Dry Run",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [0, 704]
    },
    {
      "parameters": {
        "url": "https://docs.getgrist.com/api/docs/pmzM656ewkBm/tables/Recipe_Dye_Components/records",
        "method": "PATCH",
        "sendHeaders": true,
        "headerParameters": { "parameters": [] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": {{ JSON.stringify($json.updateRecords) }}\n}",
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222407",
      "name": "Update Components",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [224, 616],
      "credentials": {
        "httpHeaderAuth": { "id": "acSr72M0SPl2h9o1", "name": "Grist API" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: $('Match & Build Report').first().json }];"
      },
      "id": "a2222222-2222-4222-8222-222222222408",
      "name": "Build Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 704]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking Execute workflow": {
      "main": [[{ "node": "Config - Repair Settings", "type": "main", "index": 0 }]]
    },
    "Config - Repair Settings": {
      "main": [[{ "node": "Get All Components", "type": "main", "index": 0 }]]
    },
    "Get All Components": {
      "main": [[{ "node": "Get All Dyes", "type": "main", "index": 0 }]]
    },
    "Get All Dyes": {
      "main": [[{ "node": "Match & Build Report", "type": "main", "index": 0 }]]
    },
    "Match & Build Report": {
      "main": [[{ "node": "IF - Not Dry Run", "type": "main", "index": 0 }]]
    },
    "IF - Not Dry Run": {
      "main": [
        [{ "node": "Update Components", "type": "main", "index": 0 }],
        [{ "node": "Build Final Summary", "type": "main", "index": 0 }]
      ]
    },
    "Update Components": {
      "main": [[{ "node": "Build Final Summary", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a2222222-2222-4222-8222-222222222409",
  "meta": {
    "instanceId": "6d08bfd5eade61c80b2d946381b6b1c8fcae4587ad22ab8b3cfe6518f1e3a09e"
  },
  "nodeGroups": [],
  "id": "SSRepairDyeCompLinks01",
  "tags": []
}
