SS - File Photo (product-photo, fixed webhook path).json
{
  "name": "SS - File Photo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "file-product-photo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "467b8e9a-e350-409b-897b-020add87914b",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        144,
        144
      ],
      "webhookId": "ss-file-product-photo"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"proxy_url\": $('Code - build versioned filename1').item.json.proxy_url } }}",
        "options": {}
      },
      "id": "68a13c0c-2d39-4251-b473-a55e6cb71e10",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1248,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.getgrist.com/api/docs/pmzM656ewkBmeYAEaJtYSd/tables/Product_Photos/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"records\": [ { \"fields\": { \"Colorway_Name\": $('Code - build versioned filename1').item.json.colorway_name, \"Recipe\": $('Code - build versioned filename1').item.json.recipe_id, \"Fiber_Type\": $('Code - build versioned filename1').item.json.fiber_type, \"Nextcloud_URL\": $('Code - build versioned filename1').item.json.proxy_url, \"Source_Filename\": $('Code - build versioned filename1').item.json.dest_filename, \"Status\": \"Pending\", \"Lot_Date\": Math.floor(Date.now()/1000), \"Notes\": $('Code - build versioned filename1').item.json.note_text, \"Is_Favorite\": false, \"Is_Preview\": $('Code - build versioned filename1').item.json.is_preview } } ] } }}",
        "options": {}
      },
      "id": "66b9a1b5-3480-43a8-96e5-4377d51a2fe6",
      "name": "HTTP Request - create Product Photos row1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "acSr72M0SPl2h9o1",
          "name": "Grist API"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "path": "={{ $json.source_path }}",
        "toPath": "={{ $json.dest_path }}"
      },
      "id": "1d23586c-e1b4-4d15-a19f-7e4001a6f77c",
      "name": "Move a file1",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        816,
        144
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "BGUSqxDVtG0XJLEL",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const VENDOR_CODES = ['RDG','MMI','DNR','HBO','FOR','OBO','BMW','CDR','VVM','ACD','SOB','JIR','TRM','BAF','MYO','DWK','ALA','VAR','BBR','KPA','RIG','NWW'];\nconst FIBER_NAME_TO_CODE = { 'FF Nylon': 'FFN', 'E Nylon': 'EN', 'FF Cotton': 'FFC', 'Blackwing': 'BW' };\n\nconst body = $('Webhook1').item.json.body || $('Webhook1').item.json;\nconst existing = $json.records || [];\nconst version = existing.length + 1;\nconst hasExistingPreview = existing.some(r => r.fields && r.fields.Is_Preview);\nconst shouldBePreview = !hasExistingPreview;\n\nfunction slugify(name) {\n  return (name || '').toString().toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n}\nfunction fiberCode(fiberType) {\n  if (FIBER_NAME_TO_CODE[fiberType]) return FIBER_NAME_TO_CODE[fiberType];\n  return (fiberType || '').toString().toUpperCase().replace(/[^A-Z]/g, '').slice(0, 4) || 'GEN';\n}\nfunction vendorCode(skuBase, scope) {\n  if (!skuBase || !/reserv/i.test(scope || '')) return null;\n  const parts = skuBase.toString().split('_');\n  const last = (parts[parts.length - 1] || '').toUpperCase();\n  return VENDOR_CODES.includes(last) ? last : null;\n}\n\nconst slug = slugify(body.colorway_name);\nconst fc = fiberCode(body.fiber_type);\nconst vendor = vendorCode(body.sku_base, body.recipe_scope);\nconst vendorSuffix = vendor ? `_${vendor}` : '';\n\nconst destFilename = `${body.colorway_name.replace(/\\s+/g, '_')}_${version}_${fc}${vendorSuffix}${body.ext}`;\nconst destPath = `Squirrely Stash/product-photos/lots/${destFilename}`;\nconst proxyUrl = `https://squirrelystash.app.n8n.cloud/webhook/photo2?path=${encodeURIComponent(destPath)}`;\n\nreturn {\n  json: {\n    source_path: body.source_path,\n    dest_path: destPath,\n    dest_filename: destFilename,\n    proxy_url: proxyUrl,\n    colorway_name: body.colorway_name,\n    fiber_type: body.fiber_type,\n    recipe_id: body.recipe_id,\n    note_text: body.note_text || '',\n    is_preview: shouldBePreview,\n  }\n};"
      },
      "id": "f918c9dd-faf6-400e-aeb4-bb66ca41c149",
      "name": "Code - build versioned filename1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        144
      ]
    },
    {
      "parameters": {
        "url": "=https://docs.getgrist.com/api/docs/pmzM656ewkBmeYAEaJtYSd/tables/Product_Photos/records?filter={{ encodeURIComponent(JSON.stringify({Recipe: [($json.body || $json).recipe_id]})) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "408c8d70-bfa1-4ba9-9e33-c19ca903702c",
      "name": "HTTP Request - existing photos for recipe1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "acSr72M0SPl2h9o1",
          "name": "Grist API"
        }
      }
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request - existing photos for recipe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - create Product Photos row1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move a file1": {
      "main": [
        [
          {
            "node": "HTTP Request - create Product Photos row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - build versioned filename1": {
      "main": [
        [
          {
            "node": "Move a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - existing photos for recipe1": {
      "main": [
        [
          {
            "node": "Code - build versioned filename1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null
}