SS-File-Product-Photo-DIRECT-LINKS.json
{
  "name": "SS - File Product Photo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "file-product-photo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1100,
        0
      ],
      "webhookId": "ss-file-product-photo"
    },
    {
      "parameters": {
        "url": "=https://docs.getgrist.com/api/docs/pmzM656ewkBmeYAEaJtYSd/tables/Product_Photos/records?filter={{ encodeURIComponent(JSON.stringify({Recipe: [($json.body || $json).recipe_id]})) }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "n2-existing-count",
      "name": "HTTP Request - existing photos for recipe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "acSr72M0SPl2h9o1",
          "name": "Grist API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const VENDOR_CODES = ['RDG','MMI','DNR','HBO','FOR','OBO','BMW','CDR','VVM','ACD','SOB','JIR','TRM','BAF','MYO','DWK','ALA','VAR','BBR','KPA','RIG','NWW'];\nconst FIBER_NAME_TO_CODE = { 'FF Nylon': 'FFN', 'E Nylon': 'EN', 'FF Cotton': 'FFC', 'Blackwing': 'BW' };\n\nconst body = $('Webhook').item.json.body || $('Webhook').item.json;\nconst existing = $json.records || [];\nconst version = existing.length + 1;\nconst hasExistingPreview = existing.some(r => r.fields && r.fields.Is_Preview);\nconst shouldBePreview = !hasExistingPreview;\n\nfunction slugify(name) {\n  return (name || '').toString().toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n}\nfunction fiberCode(fiberType) {\n  if (FIBER_NAME_TO_CODE[fiberType]) return FIBER_NAME_TO_CODE[fiberType];\n  return (fiberType || '').toString().toUpperCase().replace(/[^A-Z]/g, '').slice(0, 4) || 'GEN';\n}\nfunction vendorCode(skuBase, scope) {\n  if (!skuBase || !/reserv/i.test(scope || '')) return null;\n  const parts = skuBase.toString().split('_');\n  const last = (parts[parts.length - 1] || '').toUpperCase();\n  return VENDOR_CODES.includes(last) ? last : null;\n}\n\nconst slug = slugify(body.colorway_name);\nconst fc = fiberCode(body.fiber_type);\nconst vendor = vendorCode(body.sku_base, body.recipe_scope);\nconst vendorSuffix = vendor ? `_${vendor}` : '';\n\nconst destFilename = `${body.colorway_name.replace(/\\s+/g, '_')}_${version}_${fc}${vendorSuffix}${body.ext}`;\nconst destPath = `Squirrely Stash/product-photos/lots/${destFilename}`;\nconst proxyUrl = `https://squirrelystash.app.n8n.cloud/webhook/photo?path=${encodeURIComponent(destPath)}`;\n\nreturn {\n  json: {\n    source_path: body.source_path,\n    dest_path: destPath,\n    dest_filename: destFilename,\n    proxy_url: proxyUrl,\n    colorway_name: body.colorway_name,\n    fiber_type: body.fiber_type,\n    recipe_id: body.recipe_id,\n    note_text: body.note_text || '',\n    is_preview: shouldBePreview,\n  }\n};"
      },
      "id": "n3-build-path",
      "name": "Code - build versioned filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "path": "={{ $json.source_path }}",
        "toPath": "={{ $json.dest_path }}"
      },
      "id": "n4-move-file",
      "name": "Move a file",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        -440,
        0
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "BGUSqxDVtG0XJLEL",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://docs.getgrist.com/api/docs/pmzM656ewkBmeYAEaJtYSd/tables/Product_Photos/records",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"records\": [ { \"fields\": { \"Colorway_Name\": $('Code - build versioned filename').item.json.colorway_name, \"Recipe\": $('Code - build versioned filename').item.json.recipe_id, \"Fiber_Type\": $('Code - build versioned filename').item.json.fiber_type, \"Nextcloud_URL\": $json.direct_url, \"Source_Filename\": $('Code - build versioned filename').item.json.dest_filename, \"Status\": \"Pending\", \"Lot_Date\": Math.floor(Date.now()/1000), \"Notes\": $('Code - build versioned filename').item.json.note_text, \"Is_Favorite\": false, \"Is_Preview\": $('Code - build versioned filename').item.json.is_preview } } ] } }}",
        "options": {}
      },
      "id": "n5-create-row",
      "name": "HTTP Request - create Product Photos row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "acSr72M0SPl2h9o1",
          "name": "Grist API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"proxy_url\": $('Code - build versioned filename').item.json.proxy_url } }}",
        "options": {}
      },
      "id": "n6-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nx99546.your-storageshare.de/ocs/v2.php/apps/files_sharing/api/v1/shares?format=json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "OCS-APIRequest",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=/{{ $('Code - build versioned filename').item.json.dest_path }}"
            },
            {
              "name": "shareType",
              "value": "3"
            },
            {
              "name": "permissions",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "n4b-create-share",
      "name": "Create Public Share",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -330,
        0
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_NEXTCLOUD_BASIC_AUTH_CREDENTIAL_ID",
          "name": "NextCloud Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const shareData = $json.ocs && $json.ocs.data ? $json.ocs.data : $json;\nconst shareUrl = shareData.url;\nif (!shareUrl) {\n  throw new Error('No share URL returned from Nextcloud \u2014 check the Create Public Share node response');\n}\nconst directUrl = shareUrl.endsWith('/') ? shareUrl + 'download' : shareUrl + '/download';\nreturn { json: { ...($('Code - build versioned filename').item.json), direct_url: directUrl } };"
      },
      "id": "n4c-build-direct-url",
      "name": "Build Direct Download URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request - existing photos for recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - existing photos for recipe": {
      "main": [
        [
          {
            "node": "Code - build versioned filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - build versioned filename": {
      "main": [
        [
          {
            "node": "Move a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move a file": {
      "main": [
        [
          {
            "node": "Create Public Share",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - create Product Photos row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Public Share": {
      "main": [
        [
          {
            "node": "Build Direct Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Direct Download URL": {
      "main": [
        [
          {
            "node": "HTTP Request - create Product Photos row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "6d08bfd5eade61c80b2d946381b6b1c8fcae4587ad22ab8b3cfe6518f1e3a09e"
  },
  "nodeGroups": [],
  "tags": []
}